@font-face {
    font-family: "Google sans";
    src: url(".../font/Google-sans.woff2");
}

$blue:#007bff;
body {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-size: 18px;
    }
    *,
    div,
    p {
        font-family: Google sans;
        font-size: 1.1rem;
    }
    display: flex;
    justify-content: center;
    .mainContainer {
        margin-top: 48px;
        .heading {
            font-size: 2.5rem;
            margin-bottom: 20px;
            color: $blue;
        }
        .subHeading {
            line-height: 1.5;
            margin-bottom: 40px;
        }
        .imgTitle {
            display: flex;
            justify-content: space-around;
            gap: 50px;
            margin-bottom: 32px;
            canvas {
                width: 200px;
                height: 200px;
            }
            p {
                text-align: center;
            }
        }
        .mseResult {
            margin-bottom: 32px;
        }
        .buttons {
            display: flex;
            gap: 24px;
            button {
                padding: 8px;
                cursor: pointer;
                background-color: $blue;
                outline: none;
                border: 0;
                color: white;
                border-radius: 8px;
                padding: 8px 16px;
                &:hover {
                    background: #0069da;
                }
            }
        }
    } //.mainContainer
}